<nav class="navbar navbar-light navbar-expand-md bg-info justify-content-center">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">Real Time Interview</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 p-2" id="collapsingNavbar3">

      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link text-light" data-toggle="modal" data-target="#myModal" href="">
            Create New Problem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Your Rooms</a>
        </li>
        <li class="nav-item">
          <div class="nav-item dropdown">
            <button class="nav-link dropdown-toggle btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">User Name
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>