<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="row mx-2">
        <div class="col text-center">
          <% include nav-admin.ejs %>
        </div>
    </div>
    <div class="row mt-3 mx-2 text-center">
        <div class="col text-center">
                <table class="table-sm text-center">
                        <th>
                            <td>Room Id</td>
                            <td>Room Name</td>
                            <td>Action</td>
                        </th>
            
                </table>
        </div>
       
  </div>

</body>

</html>